.profileItem {
  max-width: 525px;
  text-align: center;
  border: 3px solid black;
  border-radius: 10px;
}

.profileInfo {
  padding-top: 20px;
  padding-bottom: 25px;
}

.profileImg {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2),
    -10px -10px 20px rgba(255, 255, 255, 0.1), 0 10px 30px rgba(0, 0, 0, 0.15);
  margin-bottom: 35px;
}

.profileName {
  font-size: 32px;
  font-weight: 600;
  margin-bottom: 30px;
}
